* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #fff;
    overflow-x: hidden;
    align-items: center;
}

header {
    background-color: #000;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
   
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

header .logo span {
    color: #d4d4d4;
}

header .user-profile {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "post hot-post"
        "comment hot-post"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr; /* Ajusta el tamaño de las columnas */
    grid-template-rows: auto;
    gap: 20px;
    width: 100%; /* Ajusta el ancho del contenedor */
    max-width: 1200px; /* Controla el ancho máximo */
}

.main-content {
    grid-area: post;
    width: 55%;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 10px;
    margin-right: 20px;
}

.create-post {
    margin-bottom: 20px;
    text-align: left;
}

.create-post button {
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.post {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    justify-content: flex-start; 
    gap: 10px; 
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}

.post-header .location {
    background-color: #fffbfb;
    color: black;
    padding: 2px 8px;
    border-radius: 5px;
}

.post h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.post-footer {
    display: flex;
    justify-content: flex-start; 
    gap: 10px;
    align-items: center; 
    margin-top: 10px;
    font-size: 14px;
}

.post-footer button {
    background-color: #ebebeb;
    padding: 5px 10px;
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}



