* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post-header {
    z-index: 2;
    background-color: var(--main-color);
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 89%;
}

/* Contenedor para el SVG */
.header-svg-container {
    justify-self: flex-start;
    gap: 20px;
    display: flex;
    align-items: center;
}

.container-avatar-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.click-menu {
    padding: 10px;
    color: var(--letter-color);
    cursor: pointer;
    gap: 10px;
    align-items: center;
    display: flex;
}

.items-menu a {
    padding: 0 10%;
}

.items-menu button {
    cursor: pointer;
    padding: 13px 0;
    width: 100%;
    font-size: var(--font-size-small);
    background-color: inherit;
    border: none;
    appearance: none;
    transition: transform 0.1s ease-in, font-weight 0.1s ease-in;
}

.items-menu li {
    position: relative;
    transition: transform 0.1s ease-in, font-weight 0.1s ease-in;
}

.items-menu li:hover, .items-menu button:hover {
    font-weight: var(--font-weight-strong);
    transform: scale(1.01);
}

.items-menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 90%;
    border-bottom: 2px solid var(--second-color);
    transition: transform 0.3s ease-in-out;
}

.items-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) scale(0.1);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    transition: transform 0.3s ease-out;
}

.items-menu:hover::before {
    transform: translateX(-50%) scale(1);
}


.items-menu li:hover::after, .items-menu button:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.items-menu ul {
    padding: 10px 0 15px 0;
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.items-menu {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    width: 15%;
    min-width: 200px;
    text-align: center;
    border-radius: 10px;
    border-width: 0 0 3px 3px;
    border-style: solid;
    border-color: var(--border-white-color);
    background-color: white;
    top: 92px;
    position: absolute;
    z-index: 1;
}

.clicking {
    justify-content: flex-end;
    display: flex;
}

/* Control del tamaÃƒÆ’Ã‚Â±o del SVG */
.header-svg {
    width: 60px;
}

.header-text {
    font-family: "EB Garamond", serif;
    color: white;
    font-size: 40px;
    font-weight: var(--font-weight-super-strong);
}

.search-bar {
    padding: 5px;
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
}

.search-bar-container {
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    width: 75%;
    border-radius: 30px;
    font-size: 16px;
    padding: 6px 10px;
    background-color: white;
    color: gray;
    border: 2px solid var(--second-color);
}

.search-icon {
    width: 15px;
}

/* Estilo para el placeholder */
.search-bar::placeholder {
    color: rgba(0, 0, 0, 0.5);
    /* Color gris claro para el placeholder */
}

.search-bar:focus {
    outline: none;
    /* Quita el borde de enfoque */
    border-color: #6b6a6a;
    /* Color del borde al enfocarse */
}

.profile-container {
    display: flex;
    /* Permite alinear la imagen y el texto */
    align-items: center;
    /* Centra verticalmente */
    margin-left: 20px;
    /* Espacio a la izquierda de la imagen de perfil */
}

.profile-pic {
    width: 40px;
}

.username {
    color: white;
    /* Color del texto del usuario */
    font-size: 16px;
    /* TamaÃƒÆ’Ã‚Â±o del texto */
}

body {
    background-color: var(--main-color);
}

:root {
    /* Colors */
    --main-color: rgba(22, 19, 19);
    --second-color: rgba(44, 41, 41);
    --hover-btn-color: rgb(28, 26, 26);
    --letter-color: rgba(255, 255, 255);
    --border-second-color: rgba(25, 25, 25);
    --border-white-color: rgba(204, 204, 204);

    --black-color: rgb(0, 0, 0);

    /* --letter-color: rgba(255, 255, 255, 0.5); */

    /* Fonts */
    --font-size-small: 1rem;
    --font-size-medium: 1.25rem;
    --font-size-large: 2rem;
    --font-weight-light: 100;
    --font-weight-medium: 600;
    --font-weight-strong: 700;
    --font-weight-super-strong: 900;
}



input[type="file"] {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a::visited {
    color: blueviolet;
}

ul {
    text-decoration: none;
    list-style: none;
}

.container-main {
    color: var(--letter-color);
    padding: 5%;
    gap: 10%;
    width: 100%;
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
}

.input-format {
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 1em;
}

.main-conent {
    width: 30%;
    align-self: center;
}

.main-conent h1,
.main-conent p {
    text-align: center;
}

.main-conent label,
.main-register label {
    font-weight: var(--font-weight-medium);
    margin: 10px 0;
    display: block;
}

.main-conent span {
    font-weight: var(--font-weight-strong);
}

.main-conent .description,
.main-register p {
    margin-bottom: 30px;
}

.btn-format {
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: var(--border-second-color);
    font-size: var(--font-size-small);
    background-color: var(--second-color);
    color: var(--letter-color);
    margin: 20px 0 10px 0;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    font-weight: var(--font-weight-medium);
}

.btn-format-black {
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: var(--border-second-color);
    font-size: var(--font-size-small);
    background-color: var(--main-color);
    color: var(--letter-color);
    margin: 20px 0 10px 0;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    font-weight: var(--font-weight-medium);
}

.btn-format:hover,
.btn-format-black:hover,
.btn-upload:hover,
.btn-mythology-select:hover,
.btn-mythology:hover {
    cursor: pointer;
    background-color: var(--hover-btn-color);
}

#statue-img {
    align-self: center;
    object-fit: contain;
    width: 40%;
}

/* registrar.html */
.container-register {
    height: 90vh;
    /* Nav type shit */
    position: relative;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.register-page1 {
    position: relative;
    display: block;
    transition: all 0.3s ease-in-out;
}

.register-page2 {
    position: relative;
    display: none;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    left: 100px;
}

.main-register {
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: var(--border-second-color);
    padding: 2.5%;
    display: flex;
    justify-content: center;
    color: var(--letter-color);
    border-radius: 10px;
    width: 35%;
    min-width: 550px;
    background-color: var(--second-color);
}

.nav-bar {
    align-items: center;
    width: 100%;
    padding: 25px 3%;
    justify-content: space-between;
    display: flex;
    color: var(--letter-color);
    font-weight: var(--font-weight-strong);
}

.main-register h1,
.main-register p {
    text-align: center;
}

.main-register p {
    margin: 5px 0;
}

.title-register {
    transition: all 0.3s ease-in-out;
    position: relative;
    margin: 20px 0;
}

.input-group {
    gap: 10px;
    display: flex;
}

.label-input-g {
    margin: 1.8% 0;
    width: 100%;
}

.register-input {
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.content-register {
    width: 80%;
}

.radio-nav-register {
    justify-content: space-between;
    width: 100%;
    margin: 3% 0;
    display: flex;
    align-content: center;
}

.arrow-register-right {
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
}

.arrow-register-left {
    opacity: 0;
    border: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
}

.group-radio {
    display: flex;
    gap: 15px;
    grid-column: 1 / 3;
    grid-row: 1;
    justify-self: center;
    align-items: center;
}

.container-avatar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    background-color: var(--letter-color);
    width: 6em;
    height: 6em;
}

.bola {
    width: 100%;
}

.input-group-col {
    width: 100%;
    display: flex;
}

.btn-upload {
    text-align: center;
    margin: auto;
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: var(--border-second-color);
    font-size: var(--font-size-small);
    background-color: var(--main-color);
    color: var(--letter-color);
    width: 80%;
    border-radius: 10px;
    padding: 3px 0;
    font-weight: var(--font-weight-medium);
}

.container-btn-upload {
    display: flex;
    width: 100%;
    justify-content: center;
}

.input-group-register {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.transition-btn {
    display: none;
    position: relative;
    left: 100px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.select-custom {
    padding: 11px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.register-header {
    width: 100%;
}

.post-container {
    gap: 20px;
    margin: auto;
    width: 89%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 55% 1fr;
    color: var(--letter-color);
}

.pfp-post {
    align-self: center;
    object-fit: contain;
    width: 100%;
}

.container-pfp-post {
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--letter-color);
    width: 2em;
    height: 2em;
}

.head-article-post {
    padding: 30px 0 0 0;
    justify-content: space-between;
    align-content: center;
    display: flex;
}

.article-post h3, .comment-post h3, .second-comment-post h3 {
    padding: 20px 0;
}

.hot-posts-title {
    width: 100%;
    text-align: left;
    font-weight: var(--font-weight-medium);
    padding-top: 20px;
}

.left-head-article,
.right-head-article,
.span-post-header,
.span-post-label {
    gap: 10px;
    align-self: center;
    display: flex;
}

.span-post-label {
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-white-color);
    border-radius: 15px;
    padding: 0 15px;
    color: var(--black-color);
    background-color: var(--letter-color);
    font-weight: var(--font-weight-medium);
}

.article-post {
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: var(--border-second-color);
    padding: 0 30px;
    margin: 1em 0;
    width: 100%;
    background-color: var(--second-color);
    border-radius: 10px;
}

.footer-post {
    padding: 20px 0 30px 0;
    gap: 10px;
    align-content: center;
    justify-content: flex-start;
    display: flex;
}

.btn-footer {
    gap: 5px;
    align-items: center;
    display: flex;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: var(--border-white-color);
    font-size: var(--font-size-small);
    background-color: var(--letter-color);
    border-radius: 10px;
    padding: 7px 12px;
    font-weight: var(--font-weight-medium);
}

.post-buttons {
    padding: 20px 0 30px 0;
    gap: 10px;
    align-content: center;
    justify-content: flex-start;
    display: flex;
}

.btn-submit {
    gap: 5px;
    align-items: center;
    display: flex;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: var(--border-white-color);
    font-size: var(--font-size-small);
    background-color: var(--letter-color);
    border-radius: 10px;
    padding: 7px 12px;
    font-weight: var(--font-weight-medium);
}

.btn-cancel {
    gap: 5px;
    align-items: center;
    display: flex;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: var(--border-white-color);
    font-size: var(--font-size-small);
    background-color: var(--letter-color);
    border-radius: 10px;
    padding: 7px 12px;
    font-weight: var(--font-weight-medium);
}

.btn-submit:hover,
.btn-cancel:hover,
.btn-footer:hover,
.btn-create-post:hover,
.add-comment:hover {
    cursor: pointer;
    background-color: var(--border-white-color);
}

.aside-mythology {
    position: fixed;
    top: 120px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 19%;
}

.aside-hot {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hot-post {
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: var(--border-second-color);
    padding: 0 30px;
    width: 100%;
    background-color: var(--second-color);
    border-radius: 10px;
    margin: 1em 0;
    /* transition: transform 0ms ease; */
}

.hot-post:hover, .btn-mythology:hover, .btn-mythology-select:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.article-post:hover {
    cursor: pointer;
    transform: scale(1.003);
}

.head-article-hot-posts {
    padding: 30px 0 20px 0;
    justify-content: space-between;
    align-content: center;
    display: flex;
}

/* Esto estÃƒÆ’Ã‚Â¡ medio weird, a lo mejor lo termino cambiando por un label/p ya que no tiene botones los hotposts */
.btn-footer-hot-post {
    cursor: pointer;
    color: var(--letter-color);
    gap: 5px;
    align-items: center;
    display: flex;
    border-style: none;
    font-size: var(--font-size-small);
    border-radius: 10px;
    padding: 7px 12px;
    background-color: inherit;
    font-weight: var(--font-weight-light);
}

.footer-hot-post {
    justify-content: space-between;
    padding: 20px 0 30px 0;
    align-content: center;
    display: flex;
}

@media (max-width: 600px) {
    :root {
        --font-size-small: 0.8rem;
        --font-size-medium: 0.75rem;
        --font-size-large: 1.5rem;
    }

    h1 {
        font-size: var(--font-size-large);
    }

    p {
        font-size: var(--font-size-small);
    }

    label {
        font-size: var(--font-size-small);
    }

    .nav-bar {
        padding: 25px 9%;
    }

    .input-format {
        padding: 0.8em;
    }

    .container-main {
        gap: 0;
        flex-flow: column;
    }

    .main-conent {
        min-width: 80%;
        align-self: center;
    }

    .main-conent span {
        display: block;
    }

    .main-register {
        min-width: 90%;
        padding: 40px 0;
    }
}

.a-create-post {
    width: 100%;
}

.btn-create-post {
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: var(--border-white-color);
    border-radius: 13px;
    background-color: white;
    margin: 20px 0 0 0;
    padding: 13px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    gap: 10px;
    width: 100%;
}

.container-mythologies {
    gap: 10px;
    flex-direction: column;
    width: 100%;
    display: flex;
}

.btn-mythology-select,
.btn-mythology {
    padding: 8px 0;
    width: 100%;
    appearance: none;
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: var(--border-second-color);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    background-color: #2C2929;
    color: var(--letter-color);
    border-radius: 10px;
    text-align: center;
}

.mythology-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

footer {
    background-color: var(--main-color);
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #444;
    color: #aaa;
    font-family: "Arial", sans-serif;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    margin-bottom: 15px;
}

.social-icons a {
    color: #aaa;
    font-size: 24px;
    margin: 0 15px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #fff;
}

.mythologies-title {
    margin: 15px 0;
    width: 100%;
    text-align: left;
    font-weight: var(--font-weight-medium);
    color: var(--letter-color);
}

.svg-btn {
    align-self: center;
}

.add-comment {
    gap: 10px;
    justify-content: center;
    display: flex;
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: var(--border-second-color);
    font-size: var(--font-size-small);
    background-color: var(--letter-color);
    margin: 20px 0 0 0;
    width: 25%;
    min-width: 250px;
    border-radius: 50px;
    padding: 12px;
    font-weight: var(--font-weight-medium);
}

.comment-post {
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: var(--border-second-color);
    padding: 0 30px;
    width: 100%;
    background-color: var(--second-color);
    border-radius: 10px;
    margin: 20px 0;
}

.second-comment-post {
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-color: var(--border-second-color);
    padding: 0 30px;
    width: 90%;
    background-color: var(--second-color);
    border-radius: 10px;
    margin: 20px 0;
}

.container-comments {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
}

.group-footer-btn {
    gap: 10px;
    display: flex;
}

.footer-comments {
    padding: 20px 0 30px 0;
    gap: 10px;
    align-content: center;
    justify-content: space-between;
    display: flex;
}

.order-comments {
    font-weight: var(--font-weight-light);
}

.content-comment-post {
    margin: 20px 0 0 0;
}

.select-category {
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: var(--border-white-color);
    border-radius: 13px;
    background-color: white;
    padding: 8px 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    /* gap: 5px; */
    width: 100%;
    min-width: 240px;
    text-align: center;
    appearance: none;
    cursor: pointer;
}

.select-category::after {
    content: 'ÃƒÂ¢Ã¢â‚¬â€œÃ‚Â¼';
    font-size: 12px;
    color: var(--border-white-color);
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.select-category option {
    color: black;
}

.section-post {
    display: flex;
    margin: auto;
    width: 100%;
    margin-top: 2%;
    font-weight: var(--font-size-medium);
    gap: 3%;
}

.section-post li {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: var(--font-weight-medium);
}

#li-texto {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

#li-img {
    border-width: 0;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

#li-link {
    border-width: 0;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

#img-view {
    width: 80%;
    height: 400px;
}

.section-post li:hover {
    background-color: var(--second-color);
}

.input-text-post {
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: var(--border-white-color);
    border-radius: 13px;
    background-color: white;
    margin: 20px 0;
    padding: 1em;
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
    width: 100%;
}

.input-area-post {
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: var(--border-white-color);
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    margin: 20px 0;
    padding: 1em;
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
    width: 100%;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

#drop-area {
    justify-content: center;
    border-width: 2px;
    border-style: dotted;
    border-color: var(--border-white-color);
    border-radius: 13px;
    margin: 20px 0;
    display: none;
    /* display: flex; */
    align-items: center;
    font-size: var(--font-size-small);
    width: 100%;
    min-height: 200px;
}

#link-url {
    display: none;
}

main {
    overflow: auto;
    overflow-x: hidden;
}

.container-crear-post {
    border-bottom: 1px solid white;
    padding: .5em;
}

.main-page {
    padding-top: 130px;
}


#preview-titulo,
#preview-texto {
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
}

#img-view {
    /* background-color: white; */
    border-radius: 13px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-view img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.container-list-mythologies {
    margin: auto;
    text-align: center;
    display: none;
    flex-direction: column;
    width: 97%;
    background-color: rgb(255 255 254 / 21%);
    border-radius: 0 0 7px 7px;
}

.btn-select-mythology {
    cursor: pointer;
    font-weight: var(--font-weight-strong);
    color: white;
    padding: 9px;
    background-color: inherit;
    appearance: none;
    border: none;
    width: 98%;
}

hr {
    margin: auto;
    width: 92%;
}

.container-list-mythologies.visible {
    display: flex;
}

.anclar-crear-titles {
    display: flex;
    gap: 5%;
    width: 100%;
}

small {
    display: none;
}

.was-validated small {
    display: block;
    color: red;
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
}

.anclar-post {
    /* display: none; */
    width: 100%;
}

.container-checkbox {
    width: 135px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#preview-link {
    text-decoration: underline;
    color: #51ccfc;
    font-weight: var(--font-weight-medium);
}

#isDisplayValid {
    display: none;
}

.content-post {
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.right-head-article {
    position: relative;
    display: inline-block;
}

.btn-option {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 254, 0.21);
    border-radius: 7px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 150px;
    padding: 5px 0;
}

.dropdown-menu form {
    margin: 0;
    padding: 5px 0;
}

.dropdown-menu button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background-color: #444;
    border-radius: 5px;
}

.edit-form {
    display: none;
    position: fixed; /* Fijar en la pantalla */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
    padding: 20px;
    background: var(--second-color);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%; /* Ancho máximo del formulario */
    max-width: 600px; /* Límite en pantallas grandes */
}



.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.btn-submit {
    background: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background: #0056b3;
}

.btn-cancel {
   background: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.btn-cancel:hover {
    background: #5a6268;
}
